.bg-image {
  background-image: url("/src/assets/pexels-eberhardgross-1624438.jpg");
  background-size: cover;
  background-position: center;
}

.home-content-center {
  height: calc(100vh - (85px * 2));
}

.text-test {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
